* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: Arial, Helvetica, sans-serif;
  background: linear-gradient(#05051a, #1b174d);
  color: white;
  text-align: center;
}
header {
  background-image: url("/assets/background.png");
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}
#container-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(3px);
}
#container-header h1 {
  font-size: 3rem;
  margin-bottom: 1rem;
}
#container-header p {
  font-size: 1.3rem;
  max-width: 600px;
}
#links {
  margin-top: 15px;
  display: flex;
}
#links a {
  margin: 0 2px;
}
#links img {
  width: 50px;
}
.btn {
  margin-top: 2rem;
  padding: 1rem 2rem;
  font-size: 1.2rem;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.3s ease;
  background-color: #f4c542;
  color: #1a237e;
  text-decoration: none;
}
.btn:hover {
  background-color: #f4c542e6;
}
#campaign {
  margin-top: 15px;
  padding: 8px;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s ease;
  background-color: #f4c542;
  color: #1a237e;
  text-decoration: none;
}
#campaign:hover {
  background-color: #f4c542e6;
}
main {
  padding: 2rem;
}
section {
  padding: 3rem 1rem;
}
section h2 {
  font-size: 2rem;
  margin-bottom: 1rem;
}
footer {
  background-color: #0a0a23;
  padding: 2rem;
  font-size: 0.9rem;
}
img.mascot {
  width: 250px;
  border-radius: 20px;
  margin-top: 2rem;
}
